@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h2 class="fw-bold">@ViewData["Title"]</h2>
<div class="row profile_page">
    <form id="profile-form" method="post" onkeydown="return event.key != 'Enter';"
    enctype="multipart/form-data" class="d-flex">
    <div class="col-md-6">       
            <div class="pt-2">
                <div class="d-flex align-items-center">
                    <label asp-for="Input.Name" class="p-0 col-4"></label>
                    <input asp-for="Input.Name" class="form-control" />
                </div>
                <span asp-validation-for="Input.Name" class="offset-4 text-danger"></span>
            </div>
            <div class="pb-4 d-flex align-items-center">
                <label asp-for="Username" class="p-0 col-4"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="py-1">
                <div class="d-flex align-items-center">
                    <label asp-for="Input.PhoneNumber" class="p-0 col-4"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="offset-4 text-danger"></span>
            </div>
            <div class="pb-3 d-flex align-items-center">
                <label asp-for="Input.Street" class="p-0 col-4"></label>
                <input asp-for="Input.Street" class="form-control" />
            </div>
            <div class="py-3 d-flex align-items-center">
                <label asp-for="Input.Country" class="p-0 col-4"></label>
                <select id="countryDropdown" asp-for="Input.Country" asp-items="@Model.Input.CountryList" class="form-select">
                    <option disabled selected>--Select Country--</option>
                </select>
            </div>
            <div class="py-3 d-flex align-items-center">
                <label asp-for="Input.State" class="p-0 col-4"></label>
                <select id="stateDropdown" asp-for="Input.State" asp-items="@Model.Input.StateList" class="form-select">
                    <option disabled selected>--Select State--</option>
                </select>
            </div>
                
            <div class="py-2 d-flex align-items-center">
                <label asp-for="Input.City" class="p-0 col-4"></label>
                <select id="cityDropdown" asp-for="Input.City" asp-items="@Model.Input.CityList" class="form-select">
                    <option disabled selected>--Select City--</option>
                </select>
            </div>
            <div class="pt-3">
                <div class="d-flex align-items-center">
                    <label asp-for="Input.PostalCode" class="p-0 col-4"></label>
                    <input asp-for="Input.PostalCode" class="form-control" />
                </div>
                <span asp-validation-for="Input.PostalCode" class="offset-4 text-danger"></span>
            </div>
            <div class="pt-3 pb-5 d-flex justify-content-center">
                <button id="update-profile-button" type="submit" class="btn text-white fw-bold">Save changes</button>
            </div>        
    </div>
    <div class="offset-md-2 col-md-4 d-flex justify-content-center">
        <div class="text-center align-middle">
            <img src='@(Model.Input.AvatarPath != "" ? Url.Content(Model.Input.AvatarPath) : Url.Content("~/images/avatar/default.png"))' 
            data-bs-toggle="modal" data-bs-target="#avatarimgModal"
            id="avatarPreview"
            class="avatar img-circle mb-5"
            alt="Avatar Image">
            <input type="file" name="file" class="form-control" id="avatarInput">
            <span id="fileUploadErrorMessage" class="text-danger"></span>
        </div>
    </div>
    </form>

    <div class="modal fade" id="avatarimgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-0 ">
                    <img alt="Avatar Image"
                         src='@(Model.Input.AvatarPath != "" ? Url.Content(Model.Input.AvatarPath) : Url.Content("~/images/avatar/default.png"))' />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(() => {
            $("#avatarInput").change(function () {
                const file = this.files[0];
                if (file) {
                    const formData = new FormData();
                    formData.append("file", file);
                    const antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
                    formData.append("__RequestVerificationToken", antiForgeryToken);

                    $.ajax({
                        url: "@Url.Page("Index","FileValidation")",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                $("#fileUploadErrorMessage").hide();
                                let reader = new FileReader();
                                reader.onload = function (event) {
                                    $("#avatarPreview").attr("src", event.target.result);
                                };
                                reader.readAsDataURL(file);
                            } else {
                                $("#fileUploadErrorMessage").show();
                                $("#fileUploadErrorMessage").text(response.error);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.error("Error: " + xhr.responseText);
                        }
                    });
                }
            });

            $('#countryDropdown').change(function () {
                var selectedCountry = $(this).val();
                if (selectedCountry) {

                    const formData = new FormData();
                    formData.append("country", selectedCountry);
                    const antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
                    formData.append("__RequestVerificationToken", antiForgeryToken);

                    $.ajax({
                        url: "@Url.Page("Index","States")",
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (states) {
                            $('#stateDropdown').empty();
                            $.each(states, function (index, state) {
                                $('#stateDropdown').append($('<option>').text(state).attr('value', state));
                            });
                        }
                    });
                }
            });

            $('#stateDropdown').change(function () {
                var selectedCountry = $('#countryDropdown').val();
                var selectedState = $(this).val();
                if (selectedCountry && selectedState) {

                    const formData = new FormData();
                    formData.append("country", selectedCountry);
                    formData.append("state", selectedState);
                    const antiForgeryToken = $('input[name="__RequestVerificationToken"]').val();
                    formData.append("__RequestVerificationToken", antiForgeryToken);

                    $.ajax({
                        url: "@Url.Page("Index","Cities")",
                        type: 'POST',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (cities) {
                            $('#cityDropdown').empty();
                            $.each(cities, function (index, city) {
                                $('#cityDropdown').append($('<option>').text(city).attr('value', city));
                            });
                        }
                    });
                }
            });
        });
    </script>
}
