@model OrderViewModel
@{
    ViewData["Title"] = "Checkout";
}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mb-4">
                <!-- Checkout -->
                <div class="card shadow-0 border">
                    <div class="p-4">
                        <h5 class="card-title mb-3">Customer info</h5>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <p class="mb-0">Name</p>
                                <div class="form-outline">
                                    <input type="text" asp-for="@Model.ShipName" placeholder="Type here" class="form-control" />
                                </div>
                            </div>

                            <div class="col-6 mb-3">
                                <p class="mb-0">Phone Number</p>
                                <div class="form-outline">
                                    <input type="tel" asp-for="@Model.ShipPhoneNumber" class="form-control" placeholder="0123456789" />
                                </div>
                            </div>

                            <div class="col-6 mb-3">
                                <p class="mb-0">Email</p>
                                <div class="form-outline">
                                    <input type="email" asp-for="@Model.ShipEmail" placeholder="example@gmail.com" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <p class="mb-0">Address</p>
                                <div class="form-outline">
                                    <input type="text" asp-for="@Model.ShipAddress" placeholder="Type here" class="form-control" />
                                </div>
                            </div>

                        </div>

                        <hr class="my-4" />

                        <h5 class="card-title mb-3">Shipping info</h5>

                        <div class="row mb-3">
                            <div class="col-lg-4 mb-3">
                                <!-- Default checked radio -->
                                <div class="form-check h-100 border rounded-3">
                                    <div class="p-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Express delivery <br />
                                            <small class="text-muted">3-4 days via Fedex </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <!-- Default radio -->
                                <div class="form-check h-100 border rounded-3">
                                    <div class="p-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Post office <br />
                                            <small class="text-muted">20-30 days via post </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <!-- Default radio -->
                                <div class="form-check h-100 border rounded-3">
                                    <div class="p-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                                        <label class="form-check-label" for="flexRadioDefault3">
                                            Self pick-up <br />
                                            <small class="text-muted">Come to our shop </small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a type="button" asp-action="Index" class="btn btn-light border">Cancel</a>
                            <button class="btn btn-success shadow-0 border">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-4 d-flex justify-content-center justify-content-lg-end">
                <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                    <h6 class="mb-3">Summary</h6>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Total price:</p>
                        <p class="mb-2">@Model.GetOrderTotal().ToString("c2")</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Discount:</p>
                        <p class="mb-2 text-danger">- $0.00</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Shipping cost:</p>
                        <p class="mb-2">+ $0.00</p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Total price:</p>
                        <p class="mb-2 fw-bold">@Model.GetOrderTotal().ToString("c2")</p>
                    </div>

                    <div class="input-group mt-3 mb-4">
                        <input type="text" class="form-control border" name="" placeholder="Promo code" />
                        <button class="btn btn-light text-primary border">Apply</button>
                    </div>

                    <hr />
                    <h6 class="text-dark my-4">Items in cart</h6>

                    @foreach(var book in Model.ChosenBooks)
                    {
                        <div class="d-flex align-items-center mb-4">
                            <div class="me-3 position-relative">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                    1
                                </span>
                                <img src="@book.Book.ImageUrl" style="height: 96px; width: 96px;" class="img-sm rounded border" />
                            </div>
                            <div class="">
                                <a href="#" class="nav-link">
                                    @book.Book.Title
                                </a>
                                <div class="price text-muted">Total: $@((book.Book.DiscountPrice * book.Count).ToString("0.00"))</div>
                            </div>
                        </div>
                    }
                    

                </div>
            </div>
        </div>
    </div>
</section>