@model ShoppingCart
@{
	ViewData["Title"] = Model.Book.Title;
}

<form method="post">
	<input hidden asp-for="BookId" />
	<div class="mt-4">
		<div class="py-3 detail_page">
			<div class="row">
				<div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
					<img src="@Model.Book.ImageUrl" class="rounded"/>
				</div>
				<div class="col-12 col-lg-6 offset-lg-1">
					<h1 class="fs-1 fw-bold" style="font-family: GT Super Bold, serif; line-height: 1.25; letter-spacing: -1px;">@Model.Book.Title</h1>
					<p class="fw-semibold mb-0">by @Model.Book.Author</p>
					<span class="badge bg-secondary my-2">@Model.Book.Category.CategoryName</span>
					<div class="col-12 col-md-5 col-lg-3 my-2">
						<button type="submit"
								class="btn btn-primary bg-gradient border-0 form-control rounded-4 fw-bold" style="background-color: #de2454">
							<i class="bi bi-cart"></i>&nbsp;&nbsp;ADD TO CART
						</button>
					</div>

					<h2 class="fs-2 fw-bold my-2" style="font-family: GT Super Bold, serif;">Description</h2>
					<div class="fs-6">@Html.Raw(@Model.Book.Description)</div>
					<h2 class="fs-2 fw-bold my-2" style="line-height: 1.2; font-family: GT Super Bold, serif; ">Product Details</h2>
					<div class="d-flex">
						<div class="text-end me-3" style="width: 80px;">Price</div>
						<div>
							<span class="text-warning text-decoration-line-through mb-0">@Model.Book.OriginPrice.ToString("c")</span>
							<span class="text-warning fw-bold">@Model.Book.DiscountPrice.ToString("c")</span>
						</div>
					</div>
					<div class="d-flex">
						<div class="text-end me-3" style="width: 80px;">Publisher</div>
						<div>@Model.Book.Publisher</div>
					</div>
					<div class="d-flex">
						<div class="text-end me-3" style="width: 80px;">Publish Date</div>
						<div>@Model.Book.PublicationDate.ToString("MMMM dd, yyyy")</div>
					</div>
					<div class="d-flex">
						<div class="text-end me-3" style="width: 80px;">Pages</div>
						<div>@Model.Book.PagesCount</div>
					</div>
					<div class="d-flex">
						<div class="text-end me-3" style="width: 80px;">Language</div>
						<div>@Model.Book.Language.LanguageName</div>
					</div>
					<div class="d-flex">
						<div class="text-end me-3" style="width: 80px;">ISBN</div>
						<div>@Model.Book.ISBN</div>
					</div>

				</div>
			</div>
			<div class="py-4 col-12 offset-lg-1">
				<h1 class="fs-1 fw-bold" style="font-family: GT Super Bold, serif; line-height: 1.25; letter-spacing: -1px;">Related Books</h1>
				<div class="related_books">
					@await Component.InvokeAsync("RelatedBooks", Model.Book.BookId)
				</div>
			</div>
			
		</div>
	</div>
</form>
