@{
	ViewData["Title"] = Localizer["home_page_title"];
	ViewData["NavTab"] = Localizer["nav_home"];
}
<div class="landing-page">
	<div id="myCarousel" class="carousel slide banner-main" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="first-slide" src="~/images/home_banner/banner1.jpg" alt="First slide">
				<div class="container">
					<div class="carousel-caption relative col-8">
						<h1 class="d-none d-md-block">@Localizer["embark_on_a_literary_journey"]</h1>
						<p class="d-none d-lg-block">
							@Localizer["step_into_our_bookstore"] <br>
							@Localizer["discover_new_worlds"] <br>
							@Localizer["books_passport_adventures"]
						</p>
						<a class="discover-btn" asp-controller="Home" asp-action="Books">@Localizer["discover"]</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img class="second-slide" src="~/images/home_banner/banner2.jpg" alt="Second slide">
				<div class="container">
					<div class="carousel-caption relative col-8">
						<h1 class="d-none d-md-block">@Localizer["unleash_imagination_new_arrivals"]</h1>
						<p class="d-none d-lg-block">
							@Localizer["fresh_selection_books"] <br>
							@Localizer["unleash_imagination_bestsellers"]
						</p>
						<a class="discover-btn" asp-controller="Home" asp-action="Books">@Localizer["discover"]</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img class="third-slide" src="~/images/home_banner/banner3.jpg" alt="Third slide">
				<div class="container">
					<div class="carousel-caption relative col-8">
						<h1 class="d-none d-md-block">@Localizer["deliver_books_doorstep"]</h1>
						<p class="d-none d-lg-block">
							@Localizer["free_city_wide_delivery"] <br>
							@Localizer["comfort_of_home"]
						</p>
						<a class="discover-btn" asp-controller="Home" asp-action="Books">@Localizer["discover"]</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img class="third-slide" src="~/images/home_banner/banner4.jpg" alt="Fourth slide">
				<div class="container">
					<div class="carousel-caption relative col-8">
						<h1 class="d-none d-md-block">@Localizer["gift_book_gift_knowledge"]</h1>
						<p class="d-none d-lg-block">
							@Localizer["perfect_gift_knowledge"] <br>
							@Localizer["thrilling_mysteries"]
						</p>
						<a class="discover-btn" asp-controller="Home" asp-action="Books">@Localizer["discover"]</a>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		</a>
		<a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
		</a>
	</div>
	<div class="text-center py-5">
		<div class="py-2">
			<h2 class="fw-bolder lh-base">@Localizer["access_service"]</h2>
		</div>
		<div>
			<h3 class="lh-base">@Localizer["bookselling_commercial"]</h3>
		</div>
		<div class="d-sm-flex justify-content-center py-3">
			<div class="col-10 offset-1 offset-sm-0 col-sm-3">
				<div class="d-flex justify-content-center py-2">
					<div class="criteria-icons" style="background-color: #f5566e;"><i class="fa fa-truck" aria-hidden="true"></i></div>
				</div>
				<div class="py-2">
					<h3 class="fw-bold">@Localizer["book_quality"]</h3>
				</div>
				<h3 class="lh-base text-justify">
					@Localizer["high_quality_books"]
				</h3>
			</div>
			<div class="col-10 offset-1 col-sm-3">
				<div class="d-flex justify-content-center py-2">
					<div class="criteria-icons" style="background-color: #f8b80d;"><i class="fa fa-money" aria-hidden="true"></i></div>
				</div>
				<div class="py-2">
					<h3 class="fw-bold">@Localizer["competitive_pricing"]</h3>
				</div>
				<h3 class="lh-base">
					@Localizer["reasonable_prices"]
				</h3>
			</div>
			<div class="col-10 offset-1 col-sm-3">
				<div class="d-flex justify-content-center py-2">
					<div class="criteria-icons" style="background-color: #7cc0ab;"><i class="fa fa-users" aria-hidden="true"></i></div>
				</div>

				<div class="py-2">
					<h3 class="fw-bold">@Localizer["dedicated_customer_service"]</h3>
				</div>
				<h3 class="lh-base">
					@Localizer["customer_service_24_7"]
				</h3>
			</div>
		</div>
	</div>

	@await Component.InvokeAsync("LandingPageBooks", StaticDetails.LandingPage_Newest)
	@await Component.InvokeAsync("LandingPageBooks", StaticDetails.LandingPage_Manga)
	@await Component.InvokeAsync("LandingPageBooks", StaticDetails.LandingPage_Fantasy)
	@await Component.InvokeAsync("LandingPageBooks", StaticDetails.LandingPage_ScienceFiction)
	@await Component.InvokeAsync("LandingPageBooks", StaticDetails.LandingPage_Romance)
	<div class="py-4 signup text-center">
		<h1 class="fw-bolder pb-4 text-uppercase">@Localizer["sign_up_newsletter"]</h1>
		<div class="pb-4">@Localizer["weekly_update"]</div>
		<div class="d-flex justify-content-center align-items-center pb-4">
			<div class="d-none d-sm-block me-sm-3">@Localizer["email_address"]</div>
			<input type="email" class="col-6 col-sm-3 me-3" placeholder="abc@gmail.com">
			<button>@Localizer["sign_up"]</button>
		</div>
	</div>
</div>


@section Scripts{
	<script>
		$(document).ready(function () {
			$(window).scroll(function () {
				var scrollPosition = $(this).scrollTop();
				var scrollThreshold = 300;

				var navbar = $('header nav');

				if (scrollPosition > scrollThreshold) {
					navbar.removeClass('bg-opacity-75');
					navbar.addClass('bg-navbar');
				} else {
					navbar.addClass('bg-opacity-75');
					navbar.removeClass('bg-navbar');
				}
			});
		});

		eventLabelDict = {
			"#cartIcon": "Navigate from homepage to cart page",
			"#navbarContent > li:nth-child(2) > a": "Navigate from homepage to books page"
		}

		trackNavigationTime(eventLabelDict);
	</script>
}